@import"setup";
@import"typography";
@import"mediaQueries";
@import"header";
@import"footer";



.App {
  text-align: center;
}

body {
  background-color: $wheat;
}


.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.choices {
    text-transform: uppercase;
    font-family: $baseFont;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid $ball;
    color: $navy;
    label {
      padding: 0 10px;
    }
}

input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border: 1px solid $red;
  border-radius:50%;
  outline:none;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px  $navy inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background: $ball;
}

input[type="submit"] {
  border: 2px solid $navy;
  display: block;
  font-family: $baseFont;
  color: $navy;
  background-color: $ball;
  cursor: text;
  margin: 20px auto;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .5em 1em;
}

input[type="submit"]:hover {
  color: $ball;
  background-color: $navy;
}

.characterBox {
  padding: 1.5rem 2rem;
  border: 3px $navy solid;
  color: $red;
  font-family: $baseFont;
  margin: 20px auto;
    h3 {
      text-transform: uppercase;
      padding: 1.5rem 0;
      font-size: 3.5rem;
      color: $ball;
    }
    img {
      border: 2px $navy solid;
      margin: 20px 10px;

    }
    h4 {
      font-size: 2.3rem;
      color: $ball;
    }
}